version: "3.9"

services:
  cloudflared:
    image: cloudflare/cloudflared:latest

    command: tunnel run

    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

    configs:
      - source: cloudflared_conf
        target: /etc/cloudflared/config.yml

    secrets:
      - source: cloudflared_creds
        target: /etc/cloudflared/cloudflared_creds.json

    networks:
      - internal
      - outbound

  nginx:
    image: nginx:latest

    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
        reservations:
          memory: 128M
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      restart_policy:
        condition: on-failure

    volumes:
      - ./fallback.html:/usr/share/nginx/html/fallback.html:ro

    configs:
      - source: nginx_conf
        target: /etc/nginx/nginx.conf

    networks:
      - internal
      - outbound

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  internal:
    external: true
  outbound:
    external: true

secrets:
  cloudflared_creds:
    external: true

configs:
  nginx_conf:
    external: false
    file: ./nginx.conf
  cloudflared_conf:
    external: false
    file: ./cloudflared_conf.yaml
